* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/Screen\ Shot\ 2015-12-08\ at\ 12.31.59\ pm.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #c8c8c5;
}

#content {
    margin: 20px;
    margin-left: 100px;
}

#header {
    letter-spacing: 1rem;
    margin-top: -20px;
    text-align: center;
    font-size: 65px;
    padding: 20px;
    color: black;
    font-family: "Calistoga", cursive;
    font-family: "Notable", sans-serif;
    font-family: "Bangers", cursive;
    font-family: "Monoton", cursive;
    color: #444444;
    text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc;
}

.toggle {
    position: relative;
    font-size: 25px;
    left: 40.5%;
    bottom: 50%;
    border-radius: 8px;
    font-family: "Calistoga", cursive;
    font-family: "Notable", sans-serif;
    font-family: "Bangers", cursive;
    -webkit-box-shadow: inset -1px 3px 8px 5px, 2px 5px 16px 0px #c8c8c5, 20px 20px 17px 1px rgba(0, 0, 0, 0.52);
    box-shadow: inset -1px 3px 8px 5px #c8c8c5, 2px 5px 16px 0px #c8c8c5, 20px 20px 17px 1px rgba(0, 0, 0, 0.52);
}

#target {
    margin-left: 350px;
    display: none;
}

#startQuizBtn {
    margin-left: 333px;
    letter-spacing: 0.5rem;
    width: 450px;
    font-family: "Calistoga", cursive;
    font-family: "Notable", sans-serif;
    font-family: "Bangers", cursive;
    -webkit-box-shadow: 21px 5px 33px 17px rgba(0, 0, 0, 0.54);
    box-shadow: 21px 5px 33px 17px rgba(0, 0, 0, 0.54);
}

#quiz-wrapper {
    -webkit-box-shadow: 21px 5px 33px 17px rgba(0, 0, 0, 0.54);
    box-shadow: 21px 5px 33px 17px rgba(0, 0, 0, 0.54);
    height: 475px;
    width: 650px;
    border-radius: 15px;
    margin-top: 30px;
    padding: 40px;
}

#quiz-wrapper .question {
    padding: 15px;
    background-color: #0000ff;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    float: left;
    width: 100%;
    font-family: "Calistoga", cursive;
    font-family: "Notable", sans-serif;
}

#quiz-wrapper .options {
    float: left;
    width: 100%;
}

#quiz-wrapper .options ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#quiz-wrapper .options ul li {
    display: inline-block;
    background-color: #9e9e9e;
    width: 47%;
    padding: 15px;
    border-radius: 8px;
    margin-top: 25px;
    font-size: 15px;
    color: #ffffff;
    box-shadow: 0px 3px 0px grey;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-family: "Calistoga", cursive;
    font-family: "Notable", sans-serif;
    font-family: "Bangers", cursive;
    font-family: "Monoton", cursive;
    font-family: "Merienda", cursive;
}

#quiz-wrapper .options ul li:active {
    box-shadow: 0px 3px 0px transparent;
}

#quiz-wrapper .options ul li.correct {
    background-color: #0fd40f;
    box-shadow: 0px 3px 0px #03a503;
}

#quiz-wrapper .options ul li.wrong {
    background-color: #e91e1e;
    box-shadow: 0px 3px 0px #cb0b0b;
}

#quiz-wrapper .score {
    float: left;
    width: 100%;
    padding: 25px 0px;
}

#quiz-wrapper .score .next {
    width: 40%;
    float: left;
}

#quiz-wrapper .score .next button {
    padding: 10px 80px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: 0.3rem;
    cursor: pointer;
    box-shadow: 0px 3px 0px #ffffff;
    outline: none;
    font-family: "Calistoga", cursive;
    font-family: "Notable", sans-serif;
    font-family: "Bangers", cursive;
}

#quiz-wrapper .score .next button:active {
    box-shadow: 0px 3px 0px transparent;
}

#quiz-wrapper .score .score-card {
    width: 60%;
    float: left;
}

.score-card {
    color: white;
    font-family: "Acme", sans-serif;
}

#quiz-wrapper .score .score-card {
    font-size: 20px;
    color: black;
    line-height: 50px;
    text-transform: uppercase;
}

#quiz-wrapper .score .score-card span {
    background-color: #0000ff;
    padding: 5px 20px;
    border-radius: 8px;
    color: #ffffff;
}

#main {
    float: right;
    margin-top: 15px;
    padding: 10px;
    font-size: 25px;
    font-family: "Acme", sans-serif;
    background-color: #c72333;
    border-radius: 8px;
}

.score {
    float: left;
}

#footer {
    text-align: center;
    color: black;
    margin-top: 25px;
    font-size: 25px;
    font-family: "Calistoga", cursive;
    font-family: "Notable", sans-serif;
    font-family: "Bangers", cursive;
}


/* Media Query */

@media only screen and (max-width: 1125px) {
    #startQuizBtn {
        margin-left: 230px;
    }
    #target {
        margin-left: -20px;
        margin-left: 300px;
    }
}

@media screen and (max-width: 1024px) {
    #startQuizBtn {
        margin-left: 230px;
    }
    #target {
        margin-left: -20px;
        margin-left: 300px;
    }
}

@media screen and (max-width: 960px) {
    #startQuizBtn {
        margin-left: 130px;
    }
    #target {
        margin-left: -20px;
        margin-left: 200px;
    }
    .toggle {
        margin-left: -30px;
    }
    body {
        background-image: url("../images/4.4.jpeg");
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin-left: -80px;
        background-image: url("../images/1.1.jpeg");
        background-size: cover;
    }
    #startQuizBtn {
        margin-left: 130px;
    }
    #target {
        margin-left: -20px;
        margin-left: 200px;
    }
    #footer {
        color: #ffffff;
    }
}

@media screen and (max-width: 736px) {
    body {
        margin-left: -10px;
        background-image: url("../images/2.2.png");
        background-size: cover;
    }
    .score-card {
        margin-left: 10px;
    }
    #main {
        margin-top: -100px;
    }
    #startQuizBtn {
        margin-left: 50px;
    }
    .toggle {
        margin-left: -40px;
    }
    #target {
        margin-left: -10px;
        margin-left: 100px;
        color: #ffffff;
    }
}

@media screen and (max-width: 460px) {
    body {
        background-image: url("../images/3.3.jpg");
    }
    .toggle {
        margin-left: -140px;
    }
    #target {
        margin-left: -58px;
        color: black;
    }
    #header {
        margin-left: -165px;
        font-size: 50px;
    }
    #startQuizBtn {
        margin-left: -80px;
        width: 400px;
    }
    #quiz-wrapper {
        width: 425px;
        margin-left: -80px;
    }
    #footer {
        font-size: 20px;
        margin-left: -550px;
    }
    #button {
        width: 10px;
    }
    #main {
        font-size: 20px;
        margin-left: 60px;
    }
}

@media screen and (max-width: 320px) {
    #startQuizBtn {
        margin-left: -50px;
        width: 275px;
    }
    #footer {
        display: none;
    }
    #quiz-wrapper {
        margin-top: 65px;
        width: 315px;
        margin-left: -55px;
        height: auto;
    }
    #main {
        position: absolute;
        top: 65%;
        margin-left: 20px;
    }
}